<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--        <bean id="userDao" class="com.liu.dao.impl.UserDaoImpl"-->
    <!--            init-method="init" destroy-method="destroy"></bean>-->
    <!--    <bean id="userDao" class="com.liu.factory.StaticFactory" factory-method="getUserDao"></bean>-->
    <!--Spring自动创建一个DynamicFactory 对象-->
    <!--    <bean id="factory" class="com.liu.factory.DynamicFactory"></bean>-->
    <!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->
    <bean id="userDao" class="com.liu.dao.impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.liu.service.impl.UserServiceImpl"></bean>
</beans>