<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
">
    <!--目标对象-->
    <bean id="target" class="com.liu.proxy.aop.impl.Target"></bean>
    <!--切面对象-->
    <bean id="myAspect" class="com.liu.proxy.aop.MyAspect"></bean>
    <!--配置织入,告诉spring,哪些方法(切点)需要哪些增强(前置,后置等)-->
    <aop:config>
        <!--声明切面-->
        <aop:aspect ref="myAspect">
            <!--表达式抽取-->
            <aop:pointcut id="cusPointcut" expression="execution(void *..*.*(..))"/>
            <!--切点和增强-->
<!--            <aop:before method="before"-->
<!--                        pointcut="execution(public void com.liu.proxy.aop.impl.Target.save())"></aop:before>-->
<!--            <aop:after-returning method="afterReturning" pointcut="execution(void *..*.*(..))"></aop:after-returning>-->
<!--            <aop:around method="around" pointcut="execution(void *..*.*(..))"></aop:around>-->
<!--            <aop:after-throwing method="afterThrowing" pointcut="execution(void *..*.*(..))"></aop:after-throwing>-->
<!--            <aop:after method="after" pointcut="execution(void *..*.*(..))"></aop:after>-->
            <aop:around method="around" pointcut-ref="cusPointcut"></aop:around>

        </aop:aspect>
    </aop:config>
</beans>